/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/z.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    color: rgb(255, 255, 255);
}
/* NavBar */

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}
.links > li {
    margin-right: 20px;
    cursor: pointer;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents-wrapper div{
    padding: 20px 0;
}
.contents-wrapper h1{
    font-size: 60px;
}
.contents-wrapper h2{
    font-size: 40px;
}
.contents-wrapper input{
    height: 45px;
    font-size: 20px;
    font-weight: 100;
}
#search-img {
    width: 28px;
    padding-left: 3px;
    cursor: pointer;
}
.search-form {
    display: flex;
    align-items: center;
}
.contents-wrapper input:first-child {
    
}

/*Login Page*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f1f0f0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4baf4e;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4baf4e;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

body#login-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    font-family: sans-serif; 
}