/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NavBar */

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}
.links > li {
    margin-right: 20px;
    cursor: pointer;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
