/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing {
    background-image: url("../assets/z.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}
/* NavBar */

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}
.links > li {
    margin-right: 20px;
    cursor: pointer;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents-wrapper div{
    padding: 20px 0;
}
.contents-wrapper h1{
    font-size: 60px;
}
.contents-wrapper h2{
    font-size: 40px;
}
.contents-wrapper input{
    height: 45px;
    font-size: 20px;
    font-weight: 100;
}
#search-img {
    width: 28px;
    padding-left: 3px;
    cursor: pointer;
}
.search-form {
    display: flex;
    align-items: center;
}